.gallery__suptitle {
    margin-bottom: 44px;
}

.gallery__item:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (max-width: 767.9px) {
    .gallery__item {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .gallery__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (min-width: 768px) {
    .gallery__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 768px) {
    .gallery__item:not(:last-child) {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery__item {
        flex-basis: calc((100% - 90px) / 4);
    }
}

.gallery__suptitle::before {
    display: block;
    width: 60px;
    height: 1px;
    content: '';
    margin-right: 20px;
}